.course-card{
    width: 270px;
    min-width: 270px;
    border-radius: 0.1rem!important;
    border: 1px solid black!important;
}
.course-card-top{
    position: relative;
    border-bottom: 0;
    max-height: 160px;
}
.card-img-top{
    border-radius:  0.1rem!important;
}
.course-card-status{
    position: absolute;
    right: 8px;
    top:8px;
}
.course-card-badge{
    display: inline-block;
    padding: 0.25em 0.4em;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding-right: 0.6em;
    padding-left: 0.6em;
    background-color: #0000004d;
    color: white;
}
.course-card-body{
    border-top: 0;
    font-size: .9rem;
}
.course-card-body-text{
    font-weight: 400;
    font-size: .8rem;
}
.card-badge{
    display: inline-block;
    padding: 0.25em 0.4em;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
    background-color: #e5e7e5;
}