.sidenav{
    border-right: 5px solid #147fb5;
    padding: 8px;
    max-width: 260px;
    font-size: .8em;
}
.sidenav-brand{
    height: "10vh";
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidenav-menu{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidenav-nav{
    padding: 8px;
    margin: 0;
}
.sidenav-item{
    list-style-type: none;
}
.sidenav-item:hover,.sidenav-item.active{
    background-color: #343434;
}

.sidenav-link{
    display: flex;
    align-items: center;
}
.sidenav-footer{
    font-size: .75em;
    text-align: center;
    border-top: 1px solid #2c2c2c;
}

@media only screen and (max-width: 720px)  {
    .sidenav-brand, .sidenav-footer, .sidenav-text {
        display: none;
    }
    .sidenav{
        max-width: 75px;
        padding: 0;
    }
    
}