.tools{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tools-filter{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.tools-filter-option{
    padding-right: 24px;
}
.tools-filter-option.active{
    text-decoration: underline;
}
.tools-filter-input{
    display: block;
    min-width: 150px;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    line-height: 1.5;
    color: #c5c5c6;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
